{% import 'base/modals.html' as base_modals %}


{% macro modal_settings() %}
<!-- Settings -->
<div class="ui tiny modal" id="settings-dialog">
    <i class="close icon"></i>
    <div class="header"> Settings </div>
  
    <div class="ui form content">

        <div class="field">
            <label>Active Model</label>
            <div class="ui dropdown selection" id="settings-active-model">
              <input type="hidden" name="active-model">
              <i class="dropdown icon"></i>
              <div class="default text">model</div>
              <div class="menu">
                <!--<div class="item" data-value="1">model_1</div>
                <div class="item" data-value="0">model_2</div>-->
              </div>
            </div>

            {{ base_modals.known_classes_properties() }}
        </div>

    
        <div class="ui divider"></div>

        <div class="field">
          <label>Flags</label>
          <div class="ui right labeled input" id="settings-confidence-threshold">
            <input type="number" step="1" min="0" max="100" style="width: 5ch;" value="70" id='settings-confidence-threshold-input'>
            <div class="ui basic label"> % </div>
            <label style="padding:10px">Flag predictions with confidence below this value</label>
          </div>
        </div>
        <div class="field">
          <div class="ui toggle checkbox" id="settings-flag-negatives">
            <input type="checkbox">
            <label>Flag low-confidence Not-a-Bats</label>
          </div>
        </div>

        <div class="ui divider"></div>
        <div class="field">
          <label>CSV Export</label>
          <div class="ui toggle checkbox" id="settings-export-boxes">
            <input type="checkbox">
            <label>Include box coordinates</label>
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="actions">
            <div class="ui negative button">
            Cancel
            </div>
            <div class="ui positive right labeled icon button" id="settings-ok-button">
            Save
            <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</div>
{% endmacro %}



{% macro metadata_dialog() %}
<div class="ui small modal" id="metadata-dialog">
    <i class="close icon"></i>
    <div class="header"> Metadata </div>
      
      <div class="ui form content">
        <div class="fields">
          <div class="six wide field">
            <label>Site Name</label>
            <input type="text" id="input_site_name">
          </div>
          <div class="six wide field">
            <label>Site Location</label>
            <input type="text" id="input_site_location">
          </div>
          <div class="six wide field">
            <label>Site Responsible</label>
            <input type="text" id="input_site_responsible">
          </div>
        </div>
        <div class="fields">
          <div class="six wide field">
            <label>Country</label>
            <input type="text" id="input_country">
          </div>
          <div class="six wide field">
            <label>Latitude</label>
            <input type="text" id="input_latitude">
          </div>
          <div class="six wide field">
            <label>Longitude</label>
            <input type="text" id="input_longitude">
          </div>
        </div>
        <div class="fields">
          <div class="eight wide field">
            <label>Camera ID</label>
            <input type="text" id="input_camera_id">
          </div>
        </div>
        <div class="field">
          <label>Other</label>
          <textarea rows="4" id="input_other"></textarea>
        </div>
      </div>
      
      <div class="actions">
        <div class="ui negative button">
          Cancel
        </div>
        <div class="ui positive right labeled icon button">
          Save Metadata
          <i class="checkmark icon"></i>
        </div>
      </div>
</div>
{% endmacro %}
